$colour1: #e3e2df;
$colour2: #fd5f00;
$colour3: #1bb1dc;
$colour4: #9a1750;
$colour5: #5d001e;
$baseColor: #ea2c58;
$dip: #222222;


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
    //font-family: "Anton", sans-serif;
    // font-family: "Nunito Sans", Arial, sans-serif;
    // font-family: 'Calibri';
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
}

a{
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

a:hover, a:focus{
    color: $baseColor;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*
# Site Header
--------------------------------*/
.site-header {
    position: relative;
}

.site-header .site-title img {
    max-height: 70px;
}

/*
# Header Bar
--------------------------------*/
.header-bar {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 16px 0;
}

/*
# Site Branding
--------------------------------*/
.site-branding img {
    display: block;
    max-width: 100%;
}

@media screen and (min-width: 992px) {
    .header-bar{
        padding: 7px 0;
    }
}

/*
  Hamburger Menu
----------------------------------------*/
.hamburger-menu {
    z-index: 9999;
    position: relative;
    width: 100%;
    max-width: 24px;
    height: 22px;
    margin-left: auto;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    z-index: 9999;
    display: block;
    position: absolute;
    height: 3px;
    background: $baseColor;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    width: 90%;
    top: 2px;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
    width: 50%;
    top: 10px;
}

.hamburger-menu span:nth-child(4) {
    width: 100%;
    top: 18px;
}

.hamburger-menu:hover span{
    width: 100%;
}

.hamburger-menu.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

.hamburger-menu.open span:nth-child(2) {
    width: 100%;
    transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
    width: 100%;
    transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

/*
# Main Menu
--------------------------------*/
.site-navigation {
    position: absolute;
    top: -22px;
    right: 15px;
    z-index: 99;
    width: 100%;
    height: 22px;
    overflow: hidden;
    list-style: none;
    transition: all .35s;
}

.site-navigation.show {
    height: auto;
}

.site-navigation ul {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 99;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding: 30px;
    margin: 0;
    background: #fff;
    transition: all 0.5s ease-in;
}

.site-navigation.show ul {
    text-align: center;
    left: 0px;
    li{
        font-size: 25px !important;
    }
    li:hover a{
        font-size: 27px;
        color: $colour5;
    }
    img{
        height: 100px;
    }
}

.site-navigation ul li {
    display: block;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}

.site-navigation ul li img{
    height: 70px;
}

.site-navigation ul li a {
    display: block;
    line-height: 1.8;
    color: $baseColor;
    transition: all 0.35s;
    text-decoration: none;
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
    border-color: #2f2f2f;
}

@media screen and (min-width: 992px) {
    .site-navigation {
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        background: transparent;
    }

    .site-navigation ul {
        display: flex;//removed flex-wrap
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        padding: 0;
        overflow: hidden;//changed from auto to hidden
        background: transparent;
    }

    .site-navigation ul li a {
        position: relative;
        font-size: 16px;
        font-weight: bolder;
        z-index: 1;
        color: #000;
    }

    .site-navigation ul li a::after
    {
        display: block;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        height: 17px;
        background: $baseColor;
        content: '';
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
    }

    .site-navigation ul li.active a::after,
    .site-navigation ul li a:hover::after
    {
        bottom: -3px;
        visibility: visible;
        opacity: 1;
    }
}

.hero-wrap{
	width: 100%;
	height: 820px;
	position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .3;
		background: black;
		height: 820px;
	}
}

.slider-text{
	position: relative;
	height: 550px;
	p {
		font-size: 20px;
		line-height: 1.5;
		font-weight: 300;
		color: $colour1;
	}
	.bread{
		font-weight: 900;
		color: white;
		font-size: 60px;
	}
}

.blog_categorie_area {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #f9f9ff;
}

.categories_post {
    position: relative;
    text-align: center;
    cursor: pointer;
    img {
        max-width: 100%;
    }
    .categories_details {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: rgba(34, 34, 34, 0.8);
        color: #fff;
        transition: all 0.3s linear;
        display: flex;
        align-items: center;
        justify-content: center;
        h5{
            margin-bottom: 0px;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
            color: #fff;
            position: relative;
        }
        .border_line {
            margin: 10px 0px;
            background: #fff;
            width: 100%;
            height: 1px;
        }
        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 0px;
        }
    }
    &:hover{
        .categories_details{
            background: rgba(234, 44, 88, 0.63);
        }
    }
}

.blog_area {
    background: #f9f9ff;
}

.blog_item {
    margin-bottom: 40px;
}

.blog_info {
    padding-top: 30px;
    .post_tag{
        padding-bottom: 20px;
        a {
            font: 300 14px/21px "Roboto", sans-serif;
            color: #222222;
        }
        a.active {
            color: $baseColor;
        }
    }
    .blog_meta li a {
        font: 300 14px/20px "Roboto", sans-serif;
        color: #777777;
        vertical-align: middle;
        padding-bottom: 12px;
        display: inline-block;
        i {
            color: #222222;
            font-size: 16px;
            font-weight: 600;
            padding-left: 15px;
            line-height: 20px;
            vertical-align: middle;
        }
    }
}

.blog_post img {
    max-width: 100%;
}

.blog_details{
    padding-top: 20px;
    h2{
        font-size: 24px;
        line-height: 36px;
        color: #222222;
        font-weight: 600;
        transition: all 0.3s linear;
        &:hover{
            color: $baseColor;
        }
    }
    p{
        margin-bottom: 26px;
    }
}

.white_bg_btn {
    display: inline-block;
    background: #f9f9ff;
    padding: 0px 35px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 34px;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #eeeeee;
    cursor: pointer;
    transition: all 300ms linear 0s;
    &:hover{
		background: $baseColor;
		color: #fff;
		border-color: $baseColor;
	}
}

.fa {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blog-pagination {
    padding-top: 25px;
    padding-bottom: 95px;
    .page-item {
        border: none;
    }
    .page-item.active .page-link {
        background-color: $baseColor;
        border-color: transparent;
        color:#fff;
    }
    .page-link{
        border-radius: 0;
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #8a8a8a;
        border: none;
        .fa{
            font-weight: 600;
        }
    }
    .page-link:hover {
        color: #fff;
        text-decoration: none;
        background-color: $baseColor;
        border-color: #eee;
    }
}

.page-link {
    background: transparent;
    font-weight: 400;
}

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
    border-radius: 0;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.blog_right_sidebar{
    border: 1px solid #eeeeee;
	background: #fafaff;
    padding: 30px;
    .widget_title{
        font-size: 18px;
        line-height: 25px;
        background: $baseColor;
        text-align: center;
        color: #fff;
        padding: 8px 0px;
        margin-bottom: 30px;
    }
    .search_widget{
        .input-group{
            .form-control{
                font-size: 14px;
                line-height: 29px;
                border: 0px;
                width: 100%;
                font-weight: 300;
                color: #fff;
                padding-left: 20px;
                border-radius: 45px;
                z-index: 0;
                background: $baseColor;
                &::placeholder{
                    color: #fff;
                }
                &:focus{
                    box-shadow: none;
                }
            }
            .btn-default{
                position: absolute;
                right: 20px;
                background: transparent;
                border: 0px;
                box-shadow: none;
                font-size: 14px;
                color: #fff;
                padding: 0px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }
        }
    }
    .author_widget{
        text-align: center;
        h4{
            font-size: 18px;
            line-height: 20px;
            color: $dip;
            margin-bottom: 5px;
			margin-top: 30px;
        }
        p{
            margin-bottom: 0px;
        }
        img{
            height: 120px;
            width: 120px;
        }
        .social_icon{
            padding: 7px 0px 15px;
            a{
                font-size: 14px;
                color: $dip;
                transition: all 0.2s linear;
                & + a{
                    margin-left: 20px;
                }
                &:hover{
                    color: $baseColor;
                }
            }
        }
    }
    .popular_post_widget{
        .post_item{
            .media-body{
                justify-content: center;
                align-self: center;
                padding-left: 20px;
                h3{
                    font-size: 14px;
                    line-height: 20px;
                    color: $dip;
                    margin-bottom: 4px;
                    transition: all 0.3s linear;
                    &:hover{
                        color: $baseColor;
                    }
                }
                p{
                    font-size:12px;
                    line-height: 21px;
                    margin-bottom: 0px;
                }
            }
            & + .post_item{
                margin-top: 20px;
            }
        }   
    }
    .post_category_widget{
        .cat-list{
            li{
                border-bottom: 2px dotted #eee;
                transition: all 0.3s ease 0s;
                padding-bottom: 12px;
                a{
                    font-size: 14px;
                    line-height: 20px;
                    color: #777;
                    p{
                        margin-bottom: 0px; 
                    }
                }
                & + li{
                    padding-top: 15px;
                }
                &:hover{
                    border-color: $baseColor;
                    a{
                        color: $baseColor;
                    }
                }
            }
        }
    }
    .newsletter_widget{
        text-align: center;
        .form-group{
            margin-bottom: 8px;
        }
        .input-group-prepend {
            margin-right: -1px;
        }
        .input-group-text {
            background: #fff;
            border-radius: 0px;
            vertical-align: top;
            font-size: 12px;
            line-height: 36px;
            padding: 0px 0px 0px 15px;
            border: 1px solid #eeeeee;
            border-right: 0px;
        }
        .form-control{
            font-size: 12px;
            line-height: 24px;
            color: #cccccc;
            border: 1px solid #eeeeee;
            border-left: 0px;
			border-radius: 0px;
            &::placeholder{
                color: #cccccc;
            }
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
        .bbtns{
            background: $baseColor;
            color: #fff;
            font-size: 12px;
            line-height: 38px;
            display: inline-block;
            font-weight: 500;
            padding: 0px 24px 0px 24px;
            border-radius: 0;
        }
        .text-bottom{
            font-size: 12px;
        }
    }
    .tag_cloud_widget{
        ul{
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    border: 1px solid #eee;
                    background: #fff;
                    padding: 0px 13px;
                    margin-bottom: 8px;
                    transition: all 0.3s ease 0s;
                    color: $dip;
                    font-size: 12px;
                    &:hover{
                        background: $baseColor;
                        color: #fff;
                    }
                }
            }
        }
    }
    .br{
        width: 100%;
        height: 1px;
        background: rgb(238, 238, 238);
        margin: 30px 0px;
    }
}

@media (max-width: 575px){
    .border_line {
        margin-top: 50px;
    }
    .blog_details h2 {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 767px){
    .blog_info.text-right {
        text-align: left !important;
        margin-bottom: 10px;
    }
}

@media (max-width: 991px){
    .blog_categorie_area .col-lg-4 {
        margin-top: 30px;
    }
    .categories_post {
        max-width: 360px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .blog_area{
        padding-bottom: 80px;
    }
    .single-post-area .blog_right_sidebar{
        margin-top: 30px;
    }
}